@use 'variables' as v;

.content {
  background-color: v.$content-grey;
  ul {
    margin-top: 2em;
    li {
      list-style-type: none;
    }
  }

  .card-container {
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: v.$white-col;

    .img-wrapper {
      margin-top: 1em;
    }

    .text-wrapper div:nth-of-type(1) {
      margin-bottom: 0.5em;
      font-size: clamp(1.5rem, 3vw, 2rem);
    }
  }
}
