@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .content {
    .card-container {
      flex-direction: row;
      justify-content: space-between;
      .text-wrapper {
        width: 50%;
      }
      .img-wrapper {
        width: 45%;
      }

      .img-wrapper {
        margin-top: 0;
        align-self: flex-start;
      }
    }

    .home-content {
      .text-wrapper {
        width: 100%;
      }
    }
  }
}
