@use 'variables' as v;
@use 'content';
@use 'nav';
@use 'media';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: v.$main-font;
}

img {
  width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont {
  padding: 0 2em;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: v.$white-col;
  background-color: v.$heading-col;
}

.header {
  font-size: clamp(1.5em, 5vw, 2.5em);
  font-weight: 700;
  padding: 1rem 0;
}

.info:nth-of-type(1) {
  text-indent: 2em;
}

.info {
  margin: 1em 0;
}

.footer {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: v.$white-col;
  background-color: v.$heading-col;
}
